<app-header></app-header>
<div class=" panel-block">
  <div class="container-block" (select)="onSelectionChange($event)" [contextMenu]="basicMenu"
       [contextMenuSubject]="foundSynonyms">
    <div class="panel-container test-panel-container" *ngIf="test">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-auto translate-btn">
            <button (click)="onTranslate()" type="button" class="btn btn-primary">Przetłumacz na EN</button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-11 col-margin">
            <h6><span class="badge badge-default float-left span-alert span-validate">Nazwa testu</span></h6>
            <input [(ngModel)]="test.name" type="text" class="form-control" id="testName">
          </div>
          <div class="form-group col-md-11 col-margin">
            <h6><span class="badge badge-default float-left span-alert span-validate">Język</span></h6>
            <select [(ngModel)]="test.language" class="form-control" id="testLang">
              <option value="PL">Polski</option>
              <option value="EN">English</option>
            </select>
          </div>
          <div class="form-group col-md-11 col-margin">
            <h6><span class="badge badge-default float-left span-alert span-validate">Stanowisko</span></h6>
            <select [(ngModel)]="test.position" class="form-control" id="testPosition">
              <option *ngFor="let position of positions" [ngValue]="position">{{position.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-end add-quest-btn">
        <button (click)="onAddQuestion()" type="button" class="btn btn-primary">Dodaj pytanie</button>
      </div>
      <div *ngFor="let question of test.questions; let qidx=index" class="card">

        <div class="card-body container">
          <div class="row">
            <div class="col-md-11 col-margin">
              <h6><span class="badge badge-default float-left span-alert span-validate">Treść pytania</span></h6>
              <textarea [(ngModel)]="question.content" class="form-control"></textarea>
            </div>
          </div>
          <div class="row" style="margin-top: 2%">
            <div class="col-md-11 col-margin">
              <h6><span class="badge badge-default float-left span-alert span-validate">Typ pytania</span></h6>
              <select [(ngModel)]="question.type" class="form-control">
                <option *ngFor="let type of questionTypes" [ngValue]="type">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-margin">
              <div *ngIf="question.type === 'CHOICE'" class="col-sm-12">
                <div class="row mg-1">
                  <label class="answers"> Możliwe odpowiedzi:</label>
                </div>
                <div *ngFor="let choice of question.availableChoices; let idx = index; trackBy: trackChoices"
                     class="row">

                  <div class="input-group col-md-11 answer">
                    <input class="form-control width100 answer-input" [(ngModel)]="question.availableChoices[idx]" type="text">
                    <span class="input-group-btn">
                      <button (click)="question.availableChoices.splice(idx, 1)" type="button" class="btn btn-danger">
                                              Usuń odpowiedź
                                            </button> </span>
                  </div>
                </div>
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="com-md-12">
                      <button
                        (click)="question.availableChoices ? question.availableChoices.push('Odpowiedź'): question.availableChoices=['Odpowiedź']"
                        type="button" class="btn btn-primary">Dodaj odpowiedź
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.type === 'SCALE'" class="col-sm-12">
                <div class="row">
                  <div class="col-md-11 mg-1">
                    <h6><span class="badge badge-default float-left span-alert span-validate">Wartość minimalna</span>
                    </h6>
                    <input [(ngModel)]="question.availableRange.min" type="number" class="form-control">
                  </div>
                  <div class="col-md-11 mg-1">
                    <h6><span class="badge badge-default float-left span-alert span-validate">Wartość maksymalna</span>
                    </h6>
                    <input [(ngModel)]="question.availableRange.max" type="number" class="form-control">
                  </div>
                  <div class="col-md-11 mg-1">
                    <h6><span class="badge badge-default float-left span-alert span-validate">Krok</span></h6>
                    <input [(ngModel)]="question.availableRange.step" type="number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="container delete-answer">
              <div class="row justify-content-md-end">
                <div class="com-md-12">
                  <button (click)="test.questions.splice(qidx,1)" type="button" class="btn small btn-danger">Usuń
                    pytanie
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end btn-can-sav">
        <button (click)="onSave()" type="button" class="btn btn-success btn-save">Zapisz</button>
        <button (click)="router.navigate(['tests'])" type="button" class="btn btn-light">Anuluj</button>
      </div>
    </div>
    <context-menu [disabled]="!selectedText" (close)="onContextMenuClosed()">
      <ng-template contextMenuItem passive="true">
        <div (click)="searchSynonyms()">
          Znajdź synonim
        </div>
      </ng-template>
      <ng-template contextMenuItem divider="true"></ng-template>
      <ng-template contextMenuItem passive="true">
        <div (click)="searchWiki()">
          Szukaj w wikipedi
        </div>
      </ng-template>
      <ng-template contextMenuItem divider="true"></ng-template>
      <ng-template contextMenuItem passive="true">
        <div>
          <div *ngFor="let synonym of foundSynonyms; let idx = index">
            <div *ngIf="idx === 0">Synonimy:</div>
            {{synonym}}
          </div>
        </div>
      </ng-template>
    </context-menu>
  </div>
</div>
