<section>
  <app-header></app-header>
</section>
<div class="table-container">
  <label class="table-label"><h5>Odpowiedzi</h5></label>
  <table class="table main-table" *ngIf="testAnswers && testAnswers.length > 0; else noTestsInfo">
    <thead class="thead-dark table-hover">
    <tr>
      <th scope="col">Użytkownik</th>
      <th scope="col">Test</th>
      <th scope="col">Stanowisko</th>
      <th scope="col">Oceniony</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let answer of testAnswers; let i = index" class="tr-style">
      <th class="row-style">{{answer.user.login}}</th>
      <th class="row-style">{{answer.test.name}}</th>
      <th class="row-style">{{answer.test.position.name}}</th>
      <th class="row-style">{{answer.evaluated ? 'Tak' : 'Nie'}}</th>
      <th class="row-style">
        <a *ngIf="userService.isModeratorOrRedactor() && !answer.evaluated" class="btn-assign">
          <button type="button" class="btn btn-primary " (click)="onReviewTestAnswer(answer)">Oceń</button>
        </a>
      </th>
    </tr>
    </tbody>
  </table>
  <ng-template #noTestsInfo>
    <div class="alert alert-info" role="alert"
         style="min-width: 100%; min-height: 350px; position: center; text-align: center; padding-top: 200px">
      <div style="display: inline-block"><strong>Brak odpowiedzi</strong>
      </div>
    </div>
  </ng-template>
</div>
