<app-header></app-header>
<div class="table-container">
  <button type="button" (click)="onCreateTest()" class="btn btn-success float-right col-md-2">
    <i class="fas fa-plus plus-ico"></i> Dodaj test
  </button>
  <label class="table-label"><h5>Testy</h5></label>
  <table class="table main-table" *ngIf="tests && tests.length > 0; else noTestsInfo">
    <thead class="thead-dark table-hover">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa testu</th>
      <th scope="col">Stanowisko</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let test of tests; let i = index" class="tr-style">
      <th class="row-style">{{i}}</th>
      <th class="row-style">{{test.name}}</th>
      <th class="row-style">{{test.position.name}}</th>
      <th class="row-style">
        <a class="reference edit-icon" (click)="onEditTest(test)">
          <i class="fas fa-edit edit-ico"></i>
        </a>
      </th>
      <th class="row-style">
        <a class="reference remove-ico" data-toggle="modal"
           data-target="#removeRedactorModal" (click)="onDeleteTest(test)">
          <i class="fas fa-trash-alt remove-ico"></i>
        </a>
      </th>
      <th class="btn-assign"><button type="button" class="btn btn-primary ">Przypisz do stanowiska</button></th>
    </tr>
    </tbody>
  </table>
  <ng-template #noTestsInfo>
    <div class="alert alert-info" role="alert"
         style="min-width: 100%; min-height: 350px; position: center; text-align: center; padding-top: 200px">
      <div style="display: inline-block"><strong>Brak testów</strong>
      </div>
    </div>
  </ng-template>
</div>
