<section>
  <app-register-header></app-register-header>
</section>
<section class="register_block">
  <div class="container">
    <div class="card card-container">
      <h2 class='register_title text-center'>Zarejestruj się!
        <hr>
      </h2>
      <form [formGroup]="registerForm" name="form" class="form" (ngSubmit)="registerForm.valid && onSubmit()">
        <p class="input_title">Nazwa użytkownika</p>
        <input formControlName="username" type="text" class="form-control" name="username" id="username"
               class="form-control" placeholder="">
        <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').dirty"
              class="badge badge-danger float-right span-alert ">To pole jest wymagane</span>
        <p class="input_title">E-mail</p>
        <input formControlName="mail" type="text" class="form-control" name="mail" id="mail"
               class="form-control" placeholder="">
        <span *ngIf="!registerForm.get('mail').valid && registerForm.get('mail').dirty"
              class="badge badge-danger float-right span-alert ">Zły format danych</span>
        <p class="input_title">Hasło</p>
        <input formControlName="password" type="password" class="form-control" id="password" name="password"
               class="form-control" placeholder="">
        <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').dirty"
              class="badge badge-danger float-right span-alert ">To pole jest wymagane (min. 4 znaki)</span>
        <p class="input_title">Wybierz język:</p>
          <select formControlName="language" id="inputState" class="form-control">
            <option *ngFor="let language of languages" [ngValue]="language">
              {{ language }}
            </option>
          </select>
        <span *ngIf="language.touched && language.invalid"
              class="badge badge-danger float-right span-alert ">To pole jest wymagane </span>
        <div id="remember" class="checkbox">
          <label>
          </label>
        </div>
        <div class="col-md-5 float-right">
          <button class="btn btn-primary" [disabled]="registerForm.invalid" type="submit">Zarejestruj się</button>
        </div>
      </form>
    </div>
  </div>
</section>
