<section>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MASI   <i class="fas fa-rocket" style="font-size: 17px; color: white"></i> </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a [routerLink]="['/registration']"><button class="btn btn-warning my-2 my-sm-0 float-right" type="submit">Zarejestruj się</button></a>
    </form>
  </div>
</nav>
</section>
